{% extends 'index.html' %}
{% block content %}
{% for member in quest %}

    <section class="showcase">
        <!----------------------------------- Question One ----------------------------------------------->
        <div id="picture-container" class="container-fluid p-0 ">
            <h2 class="text-center">{{ member.title }}</h2>
            <div class="row no-gutters ">
                <div class="col-lg-6 text-white showcase-img"  style="background-image: url( {{ url_for('static', filename=member.image_source_one) }} );" alt="Picture for {{ member.title }}"></div>
                <div class="col-lg-6 order-lg-2 text-white showcase-img"  style="background-image: url( {{ url_for('static', filename=member.image_source_two) }} );" alt="Picture for {{ member.title }}" ></div>
            </div>
            <div class="row no-gutters text-center">
                <div class="col-lg-12 order-lg-1 my-auto showcase-text">
                    
                    <form method="POST" action="/answer-question">
                        <h2>{{ member.title }}</h2><!-------------------------Json title ------------------->
                        <div class="form-row">
                            <div class="col-8 text-center">
                                <input type="text" class="form-control form-control-lg animated shake" placeholder="What is the Answer?" name="1">
                            </div>
                            <div class="col-12 col-md-3 text-center">
                                <button id="q1enter" class="btn btn-block btn-lg btn-primary">Enter</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endfor %}        
{% endblock %}